.front-titles {
    font-family: var(--merriweather-bold);
    text-align: center;
    font-size: 45px;

    margin-top: 10px;
    margin-bottom: 5px;
}

.sub-titles {
    font-family: var(--merriweather-bold);
    text-align: center;
    font-size: 35px;

    margin-top: 10px;
    margin-bottom: 5px;
}

body .title-line {
    height: 5px;
    width: 90%;
    margin: auto;
    border-width: 0;
    background-color: var(--topnav-background-color);
}

#projects {
    margin-bottom: 10px;
}

#notes {
    margin-bottom: 10px;
}

/* Float four columns side by side */
.column {
    float: left;
    width: 25%;
    height: 220px;
    padding: 10px 10px;
    position: relative;
}

.column:hover {
   
}

/* Remove extra left and right margins, due to padding in columns */


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the counter cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* this adds the "card" effect */
    text-align: center;
    background-color: var(--topnav-background-color);
    border-radius: 10px;
    height: 200px;
    width: 100%;
    font-family: var(--merriweather-bold);
    font-size: 25px;

    transition: box-shadow 0.2s ease-in-out;
    transition: height 0.2s ease-in-out;
    transition: max-height 0.2s ease-in-out;
}

.card-picture {
    width: 100%;
    height: 80%;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 5px;

    transition: height 0.2s ease-in-out;
}

.card-description {
    font-family: var(--merriweather-regular);
    font-size: 0;

    text-align: left;

    transition: font-size 0s;
}

.card-description a {
    z-index: 1;
    position: relative;
}

.column:hover .card {
    transition-delay: 1s;

    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.9);
    /* this adds the "card" effect */

    width: 359.8px;
    height: 200px;

    z-index: 1;
}

.column:hover .card-picture {
    transition-delay: 1s;

    width: 100%;
    height: 30px;
}

.column:hover .card-description {
    transition-delay: 1.2s;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;

    font-size: 20px;
}

#notes-dsag {
    height: 200px;
    transition: height 0.2s ease-in-out;
}

.column:hover #notes-dsag {
    transition-delay: 1s;
    height: 350.8px;
    /*add 20*/
}

#notes-mformula {
    height: 200px;
    transition: height 0.2s ease-in-out;
}

.column:hover #notes-mformula {
    transition-delay: 1s;
    height: 306px;
    /*add 20*/
}

#notes-code {
    height: 200px;
    transition: height 0.2s ease-in-out;
}

.column:hover #notes-code {
    transition-delay: 1s;
    height: 261.2px;
    /*add 20*/
}


#about-me {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 70px;
    padding-bottom: 70px;
}

#about-me-content {
    font-family: var(--merriweather-regular);
    font-size: 20px;

    width: 600px;
    height: 500px;

    border-style: solid;
    border-width: 5px;
    border-color: var(--topnav-background-color);
    border-left-style: none;
    border-radius: 0px 10px 10px 0px;

    padding: 10px;

    float: left;
}

#about-me-title {
    font-family: var(--merriweather-bold);
    font-size: 45px;
    padding-bottom: 5px;
}

#profile-picture {
    position: relative;
    width: 400px;
    height: 500px;


    background-color: var(--topnav-background-color);
    float: left;

    border-radius: 10px 0px 0px 10px;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.clickable-text {
    text-decoration: none;
    color: var(--clickable-color);
}

.clickable-text:hover {
    color: var(--hoverclickable-color);
}

.big-link {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;   
    z-index: 0;
}