@font-face {
    font-family: merriweather-regular;
    src: url(fonts/Merriweather-Regular.ttf);
}

@font-face {
    font-family: merriweather-lightitalic;
    src: url(fonts/Merriweather-LightItalic.ttf);
}

@font-face {
    font-family: merriweather-light;
    src: url(fonts/Merriweather-Light.ttf);
}

@font-face {
    font-family: merriweather-italic;
    src: url(fonts/Merriweather-Italic.ttf);
}

@font-face {
    font-family: merriweather-bolditalic;
    src: url(fonts/Merriweather-BoldItalic.ttf);
}

@font-face {
    font-family: merriweather-bold;
    src: url(fonts/Merriweather-Bold.ttf);
}

@font-face {
    font-family: merriweather-blackitalic;
    src: url(fonts/Merriweather-BlackItalic.ttf);
}

@font-face {
    font-family: merriweather-black;
    src: url(fonts/Merriweather-Black.ttf);
}

/* Default Settings*/
* {
    padding: 0;
    margin: 0;
    max-width: 100%;
    position: relative;
    color: white;
}

/* Variables */
:root {
    --body-background-color: #2c2f33;
    --topnav-background-color: #23272a;

    --merriweather-regular: mermerriweather-regular;
    --merriweather-lightitalic: merriweather-lightitalic;
    --merriweather-light: merriweather-light;
    --merriweather-italic: merriweather-italic;
    --merriweather-bolditalic: merriweather-bolditalic;
    --merriweather-bold: merriweather-bold;
    --merriweather-blackitalic: merriweather-blackitalic;
    --merriweather-black: merriweather-black;
}

/* Body */
body {
    background-color: var(--body-background-color);

    font-size: 100%;
}

body .topnav {
    background-color: var(--topnav-background-color);
    display: flex;
    overflow-y: auto;
}

body .topnav a.name {
    font-size: 40px;
    font-family: var(--merriweather-bolditalic);
    
    align-self: center;

    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

    text-decoration: none;
}

body .topnav .topnav-content{
    display: flex;

    align-items: center;

    margin-left: auto;
}

body .topnav .topnav-content a {
    font-size: 25px;
    font-family: var(--merriweather-bold);

    padding-right: 10px;

    text-decoration: none;
}

body .topnav .topnav-content a span {
    margin-left: 0;

    padding-left: 5px;

    transition: margin-left 0.5s;

    
    visibility: hidden;
}

body .topnav .topnav-content a #notes-text {
    margin-left: -53.97px;
}

body .topnav .topnav-content a #projects-text {
    margin-left: -70.93px;
}

#projects-bar {
    position: absolute;

    top: 0;
    bottom:0;

    margin-top: auto;
    margin-bottom: auto;

    height: 24.8px;

    /*102.18px - 31.25px*/

    transition: transform 0.5s;
}

body .topnav .topnav-content a:hover #projects-bar {
    transform:translateX(0);
}

#notes-bar {
    position: absolute;

    top: 0;
    bottom:0;

    margin-top: auto;
    margin-bottom: auto;

    height: 25px;

    /*72.72px - 18.75px*/

    transition: transform 0.5s;
}

body .topnav .topnav-content a:hover #notes-bar {
    transform:translateX(0);
}

body .topnav .topnav-content a:hover #notes-text {
    margin-left: 18.75px;
}

body .topnav .topnav-content a:hover #projects-text {
    margin-left: 31.25px;
}

body .topnav .topnav-content a:hover span {
    visibility: visible;
}

.homecontent {
    margin: auto;
    margin-top: 10px;
    width: 90%;
}

.homecontent::after {
    content: "";
    clear: both;
    display: table;
}

#aboutme {
    float: left;
    border-style: solid;
    border-color: var(--topnav-background-color);
    border-width: 5px;
    padding: 10px;
}